.ReactModalPortal>div{
opacity: 0;

}

.ReactModalPortal .ReactModal__Overlay {
   
    align-items: center;
    display:flex;
    justify-content: center;
    transition:opacity 300ms ease-out;
}
.ReactModalPortal .ReactModal__Overlay--after-open {
    
   opacity: 1;
}
.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity:0;
}
.ReactModal__Content--before-close {
    opacity: 0;
    // transition: opacity 100ms;
  }
 .modal{
    background-color: $widget-background-color;
    color:$header-title-color;
   
    border:2px solid $header-title-color;
    // max-width:80rem;
    // min-width:30rem;
    outline:none;
    text-align: center;
 }
 .modal__header{
     margin: 0;
    background-color: $header-background-color;
    border-bottom: 1px solid lighten($color: $header-background-color, $amount: 5);
    font-size: $ml-size;
    font-weight: 500;
    padding: $ml-size;
 }
 .modal__body{
     font-size: $m-size;
     font-weight: 300;
    padding:$ml-size;
 
    word-break: break-word;
 }
 .modal__body-animated{
    opacity: 0;
    animation:spin 2s ease-out forwards;
 }
 .modal__footer{
     display:flex;
     justify-content: space-around;
     flex-direction: row;
     background-color: $header-background-color;
     border-top: 1px solid lighten($color: $header-background-color, $amount: 5);
 }
 .modal__footer-section{
     flex-grow:1;
     margin:$s-size;
 }
